@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

html.light {
  --foreground-color: #000;
  --background-color: #ffffff;
}

html.dark {
  --foreground-color: #fff;
  --background-color: #121212;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}